
p, h1, h2, h3, h4 {
	font-family: 'Merriweather', serif !important;
}


/* overwriting bootstrap  */

.container-fluid {
	padding: 0 !important;
}



/*------------------------------------------------------------------------------/* Navbar */
/*------- Style navbar here -------*/

.navbar {
	border:0 !important;
	padding-top: 15px;
	padding-left:35px;
	padding-right:35px;
	width: 100vw;
   
    position:absolute !important;
    z-index:1 !important;
}

	.navbar-brand {
		padding-top: 10 !important;
		font-size: 2.1em !important;
	}
		.navbar-brand p {
			color: white !important;
		}

	.navbar p{
		color:black;
	}

.navbar-default {
	background-color: transparent !important;
}

.navbar-default .navbar-nav li a  {
	color:black !important;
}

li a:hover  {

	text-decoration: underline !important;
}


/*----- End of Navbar -----*/




/*------------------------------------------------------------------------------/* First Section */


.kreativitet {
	height: 60vh;
	width: 100vw;
}

	.kreativitet-img {
		height: inherit;	/*-- parent = 60vh --*/
		background-image: url("../img/oss.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.kreativitet-text {
		height: inherit;	/*-- parent = 60vh --*/
		background-color:white; 
	}

.center {
	margin:180px auto;
    height:300px;        
    width: 300px;
    text-align: center;
}



/*------- End of First Section -------*/




/*------------------------------------------------------------------------------/* Second Section */
/*-- More code in "Reause" section --*/

.skreddersy {
	height: 55vh;
	background-color: #f9f9f9;
}



/*------- End of Second Section -------*/




/*------------------------------------------------------------------------------/* Projects Section */

.single-project a {
	color:white !important;
}

.single-project :hover , a, p, h1, h2 ,h3{
	text-decoration: none !important;
}




.projects-wrapper {
	height: auto;
	background-color: #EDEDED;
	padding:0 !important;
	color:white;
}

	.project-nav {
		margin-top: 60px;
		text-align: center;
	}

		.project-nav li{
			display: inline;
			margin: 20px;
			padding:30px;
		}

			.project-nav li a {
				color: #797979;	
			}

	.project-nav li:hover , .prosjekt-nav li a:hover {  
		background-color: white;
		text-decoration: none;
	}

.single-project {
	height: 66vh;
	margin-top: 5%;
	margin-bottom: 5%;
	padding:0 !important;
}

.left-project {
	height: inherit;
	padding:0 !important;
}

	.left-project .img {
		background-image: url("../img/ship.png");
		background-size: cover;
		background-repeat: no-repeat;
    	background-position: center; 
    	height: 100%;
	}

	.left-project-text {
		height: 35vh;
		background-color: #FFC627;
		background-clip: content-box;

		margin-left: -15%;
		margin-top: 22%;
		padding-right: 300px !important;
		padding-left: 0 !important;
	}



.right-project-text {
		height: 35vh;
		background-color: #F20000;
		background-clip: content-box;

		padding-left: 300px !important;
		padding-right: 0 !important;

		margin-top: 22%;
		margin-left: 15%;
    	position:absolute !important;
    	z-index:1 !important;

}

.right-project {
	height: inherit;
	padding:0 !important;
	margin-left: 50%;
}

	.right-project .img {
		background-image: url("../img/retthjem.png");
		background-size: cover;
		background-repeat: no-repeat;
    	background-position: center; 
    	height: 100%;
	}

.squareSimple {
    margin:100px auto;
    height:245px;        
    width: 245px;

}

	.square h2 , .square p {
		/*overflow: hidden;*/
		text-align: center;

	}

.arrow {
	background-image: url("../img/arrow.png");
	background-size:contain;
	background-repeat: no-repeat;
	height:10px;
	width: 100px;
}

/*------- End of Project Section -------*/




/*------------------------------------------------------------------------------/* Reused code */
/*-------  -------*/


.square {
    height: 250px;        
    width: 250px;
    margin:120px auto;
	border-style: solid;
	border-color: #a0a0a0;
	border-width: 6px; 
	padding-top: 20px;: 
}

hr.style-one {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0;
    height: 1px;
    background: #333;
    width: 50%;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}



/*------- End of Reused code -------*/




/*------------------------------------------------------------------------------/* Customers */


.customers {
	width: 100%;
	display: block;
	margin-top: 60px;
	margin-bottom: 60px;
}

.single-customer img {
	height: 140px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


	.all-customers {
		height:45vh;

	}

			.kinnarps {
				background-image: url(../img/kunder/abilia.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-origin: content-box;
				height: 50%;

			}

			.relocator {
				background-image: url(../img/customers/relocator.png);
				background-size: contain;
				background-repeat: no-repeat;
				height: inherit;
			}


			.opplysningen {
				background-image: url(../img/customers/opplysningen.png);
				background-size: contain;
				background-repeat: no-repeat;
				height: inherit;
			}

			.viking {
				background-image: url(../img/customers/viking.png);
				background-size: contain;
				background-repeat: no-repeat;
				height: inherit;
			}
			
			.deloitte {
				background-image: url(../img/customers/deloitte.png);
				background-size: contain;
				background-repeat: no-repeat;
				height: inherit;
			}
			
			.infopad {
				background-image: url(../img/customers/infopad.png);
				background-size: contain;
				background-repeat: no-repeat;
				height: inherit;
			}


.customers h2 {
	text-align: center;
	padding-top: 25px;
}

hr.style-two {
    margin-top: 10px;
    margin-bottom: 30px;
    border: 0;
    height: 1px;
    background: #333;
    width: 40%;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}


/*-------  -------*/

/*------------------------------------------------------------------------------/* Footer */
/*-------  -------*/

.footer {
	height: 55vh;
	
	background-image: url("../img/map.png");
	background-repeat: no-repeat;
	background-size: cover;

}	
	.map {
		height: inherit;
	}

	.map-text {
		color:white;
	}


/*------- End of Footer -------*/





