/* custom @media */

/* ---------------------- */



/* overwriting bootstrap  */

.container-fluid {
	padding: 0 !important;
}


.navbar {
	border:0 !important;
	padding-top: 15px;

	}

	.navbar-brand h1{
		color:white;
	}

	.navbar p{
		color:white;
	}


.navbar-default {
	background-color: inherit !important;		/* color | transparent | inherit */
}

.navbar-default .navbar-nav li a  {
	color:white !important;

}

.navbar-toggle {
	background-color: #ececec !important;
}

/* ---------------------- */






/* Primary style */

.main-wrapper {
	height: 100vh;
	background-color: #eaeaea;
	}

	.bg-img {
		padding: 0 !important;

		background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), 
			url('file:///Users/Rene/Documents/git/intellicom-nettsted/Intellicom-webside/intellicom-webside/topImage.jpg');

	  	background-size: 100%;
	  	position: absolute;

	  	background-repeat: no-repeat;
	  	height: 100%;
	  	width: auto;

	}

.quote {
	height: 600px;
	width: 100%;

	margin-top: 10%;

}

.quote-img {

		background-image: url(file:///Users/Rene/Documents/git/intellicom-nettsted/Intellicom-webside/intellicom-webside/utvikling.png); 
		background-size:contain;
		background-repeat: no-repeat;
		height: 400px;
		width: 400px;

	    margin-left: auto;
	    margin-right: auto
}


.kompetanse, .kompetanse2 {
	height: 30vh;
	padding-top: 70px;
}


.kompetanse-img {
	height: 800px;
}

.space {
	height: 150px;
	background-color: #f5f5f5;
}

	
	.test1 {
		height: inherit;
		
	}

	.test2 {
		height: inherit;
	
	}



.fullwidth-img {
	height: 200px;
	background-color: #f5f5f5;
}


.text {
	height: 45vh;
	text-align: center;
	padding-top: 35px;
}



/* ---------------------- */






/* All hover tags */


.navbar-default .navbar-nav li a:hover  {

	text-decoration: underline;
}

/* ---------------------- */



.map {
	height: 25vh;
	background-color: #a2a2a2;
}

.footer {
	height: 400px;
}

.space {
	height: 100px;
	
}