/*------------------------------------------------------------------------------/* Ipad 5 */
/*-------  -------*/
@media only screen 
and (max-width : 1024px)  { 

	.left-project-text {
			height: 100%;
			background-color: #FFC627;
			background-repeat: no-repeat;
			margin-left: 0;
			margin-top: 0;
			padding-right: 0 !important;
			}


	.right-project-text{
			height: 100%;
			background-color: #FFC627;
			background-repeat: no-repeat;
			margin-left: 0;
			margin-top: 0;
			padding: 0 !important;
			}


	.skreddersy {
		height: 60vh;
	}

	.squareSimple {
		padding-top : 60px;
	}

	.map{
		height: 33vh !important;
	}

	.footer {
		height: 65vh;
	}
}


/*------------------------------------------------------------------------------/* Iphone 6 /not plus */
/*-------  -------*/
@media only screen 			
and (min-width : 375px) 
and (max-width : 667px) {

	
		.single-project{
			height: 45vh;
			}

		.square {
			margin-top : 135px;
		}

		.footer {
			height: 55vh; 
		}

	 }


/* ---  Google Api Map --- */
/*
      function initMap() {
        var myLatLng = {lat: 59.913869, lng: 10.752245};

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          scrollwheel: false,
          zoom: 15
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
          /*title: 'Hello World!'*/
        });
      }

/* ---  End of Google Api Map --- */

